<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>AUREXUS</title>
    <!-- ================= Favicon ================== -->
    <!-- Standard -->
    <link rel="shortcut icon" href="http://placehold.it/64.png/000/fff">
    <!-- Retina iPad Touch Icon-->
    <link rel="apple-touch-icon" sizes="144x144" href="http://placehold.it/144.png/000/fff">
    <!-- Retina iPhone Touch Icon-->
    <link rel="apple-touch-icon" sizes="114x114" href="http://placehold.it/114.png/000/fff">
    <!-- Standard iPad Touch Icon-->
    <link rel="apple-touch-icon" sizes="72x72" href="http://placehold.it/72.png/000/fff">
    <!-- Standard iPhone Touch Icon-->
    <link rel="apple-touch-icon" sizes="57x57" href="http://placehold.it/57.png/000/fff">
    <!-- Styles -->
    <link href="{{url_for('static',filename='assets/css/lib/calendar2/pignose.calendar.min.css')}}" rel="stylesheet">
    <link href="{{url_for('static',filename='assets/css/lib/chartist/chartist.min.css')}}" rel="stylesheet">
    <link href="{{url_for('static',filename='assets/css/lib/font-awesome.min.css')}}" rel="stylesheet">
    <link href="{{url_for('static',filename='assets/css/lib/themify-icons.css')}}" rel="stylesheet">
    <link href="{{url_for('static',filename='assets/css/lib/owl.carousel.min.css')}}" rel="stylesheet" />
    <link href="{{url_for('static',filename='assets/css/lib/owl.theme.default.min.css')}}" rel="stylesheet" />
    <link href="{{url_for('static',filename='assets/css/lib/weather-icons.css')}}" rel="stylesheet" />
    <link href="{{url_for('static',filename='assets/css/lib/menubar/sidebar.css')}}" rel="stylesheet">
    <link href="{{url_for('static',filename='assets/css/lib/bootstrap.min.css')}}" rel="stylesheet">
    <link href="{{url_for('static',filename='assets/css/lib/helper.css')}}" rel="stylesheet">
    <link href="{{url_for('static',filename='assets/css/style.css')}}" rel="stylesheet">
    <style>
        .pagination > li {margin-right:2px !important;}
        .swal-wide{width:500px !important;height:200px !important;position:center !important;}
        .dataTables_paginate a {    
	        padding: 0px 12px 1px 7px !important;
            color: white !important;
            border: 0.5px solid white !important;
            background-color:#5873fe !important;
            cursor: pointer;}
		select{font-size:14px !important;}
		.badge {
			border-radius:0px;
			border:0px;
		}
        .language-toggle-container {
    display: flex;
    align-items: center;
}

.form-check-input {
    display: none; /* Hide the default checkbox */
}

.form-check-label {
    cursor: pointer;
    display: flex;
    align-items: center;
    position: relative;
    padding: 10px 20px;
    background-color: #ccc;
    border-radius: 30px;
    transition: background-color 0.3s;
}

.form-check-label .switch {
    position: absolute;
    top: 50%;
    left: 10px;
    width: 30px;
    height: 30px;
    background-color: white;
    border-radius: 50%;
    transition: transform 0.3s;
    transform: translateY(-50%);
}

.form-check-input:checked + .form-check-label {
    background-color: #4CAF50; /* Green when toggled */
}

.form-check-input:checked + .form-check-label .switch {
    transform: translate(50%, -50%); /* Move the switch */
}

.flag {
    width: 20px; /* Adjust the flag size */
    height: auto;
    margin-left: 10px; /* Space between flags */
}

    .star-checkbox {
      display: none;
    }

    .star-label {
      cursor: pointer;
      font-size: 24px;
      color: #dedede;
      transition: color 0.2s;
    }

    .star-checkbox:checked + .star-label {
      color: #e7b63a;
    }
    </style>
</head>

<body>

	{% include 'logheader.html' %}

    <div class="content-wrap">
        <div class="main">
            <div class="container-fluid">
                
                <!-- /# row -->
                <section id="main-content">
                    <div class="row">
                        <div class="col-lg-12">
                            <div clas="card">
                                <form method="POST" class="form-inline" action="?chkTest={{session['chk_test']}}&page_no=1">
                                    <div class="form-group col-md-2">
                                        <label><b><i class="fa fa-layer-group"></i> {{ translations['Lot']}}📦</b></label>
                                        <select  id="folder" name="dossier" class="form-control col-sm-12 p-1">
                                            <option value="ALL">{{ translations['ALL']}}</option>
                                            {{html_content_fil | safe}}
                                        </select>
                                    </div>
                                    <div class="form-group  col-md-2">
                                        <label><b><i class=""></i> {{ translations['Process']}}⚙️</b></label>
                                         <select id="traitement" name="traitement" class="form-control col-sm-12 p-1">
                                            <option value="ALL">{{ translations['ALL']}}</option>													
                                            {{process | safe}}
                                        </select>
                                    </div>
                                    <div class="form-group col-md-2">
                                        <label><b><i class="fa fa-triangle-exclamation"></i>{{ translations['Ano Types']}}⚠️</b></label>
                                        <select id="type" name="type" class="form-control col-sm-12 p-1">
                                            <option value="ALL">{{ translations['ALL']}}</option>
                                            {{anotype | safe}}
                                        </select>
                                    </div>
                                    <div class="form-group col-md-2">
                                        <label><b><i class="fa fa-bars-progress"></i> {{ translations['Status']}}📊</b></label>
                                        <select id="anscode" name="anscode" class="form-control col-sm-12 p-1">
											{% set selected_anscode = session.get('selected_anscode', 'ALL') %}
											<option value="ALL" {% if selected_anscode == 'ALL' %}selected{% endif %}>{{ translations['ALL'] }}</option>
											<option value="Todo" {% if selected_anscode == 'Todo' %}selected{% endif %}>{{ translations['To Do']}}</option>
											<option value="Ok" {% if selected_anscode == 'Ok' %}selected{% endif %}>OK</option>
											<option value="Ne pas traiter"  {% if selected_anscode == 'Ne pas traiter' %}selected{% endif %}>Ne pas traiter</option>
											<option value="corrigé" {% if selected_anscode == 'corrigé' %}selected{% endif %}>Corrigé</option>
											<option value="OK - ajouté" {% if selected_anscode == 'OK - ajouté' %}selected{% endif %}>OK - ajouté</option>
											<option value="A revoir" {% if selected_anscode == 'A revoir' %}selected{% endif %}>A revoir</option>
											<option value="A revoir, avec modification de la notice" {% if selected_anscode == 'A revoir, avec modification de la notice' %}selected{% endif %}>
												A revoir, avec modification de la notice
											</option>
										</select>
                                    </div>
                                    <div class="form-group col-md-2">
                                        <label><b><i class="fa fa-images"></i> {{ translations['Sort By']}}🖼️</b></label>
                                        <select id="sort" name="sort" class="form-control col-sm-12 p-1">
											{% set selected_sort = session.get('sort', 'order by z001_x0') %}
											<option value="order by z001_x0" {% if selected_sort == 'order by z001_x0' %}selected{% endif %}>IMAGE</option>
											<option value="order by QCote" {% if selected_sort == 'order by QCote' %}selected{% endif %}>COTE</option>
											<option value="order by traitement" {% if selected_sort == 'order by traitement' %}selected{% endif %}>TRAITEMENT</option>
											<option value="order by u990_b" {% if selected_sort == 'order by u990_b' %}selected{% endif %}>ANO TYPE</option>
										</select>
                                    </div>
                                    <div class="form-group col-md-2">
                                        <label><b>{{ translations['Sort Type']}} <i class="fa fa-sort-amount-desc" style="color:#c61c01;"></i></b></label>
                                        <select id="sortype" name="sortype" class="form-control col-sm-12 p-1">
											{% set selected_sortype = session.get('sortype', 'ASC') %}
											<option value="ASC" {% if selected_sortype == 'ASC' %}selected{% endif %}>{{ translations['azsort']}}</option>
											<option value="DESC" {% if selected_sortype == 'DESC' %}selected{% endif %}>{{ translations['zasort']}}</option>
										</select>
                                    </div>
                                    <div class="form-group col-md-6">																								
                                        <input id="serachword" name="searchword" class="form-control col-sm-8 p-2" placeholder="{{ translations['Keyword']}} "  value="{{ session.get('searchword', '') }}">
                                        </input>
                                        <select id="keycol" name="keycol" class="form-control col-md-4  p-1" style="height:42px!important">   
                                            {% set selected_keycol = session.get('keycol', 'qcote') %}
											<option value="qcote" {% if selected_keycol == 'qcote' %}selected{% endif %}>Cote</option>
											<option value="Notice_Traitee_Aff" {% if selected_keycol == 'Notice_Traitee_Aff' %}selected{% endif %}>Notice</option>													      													
                                        </select>
                                    </div>
									<div class="form-group col-md-2">
										<label class="col-md-6"><b>🔖{{ translations['flagged']}}</b></label>
										<select id="bookmark"  name="bookmark" class="form-control col-md-6 p-1">
											<option value="ALL">{{ translations['ALL']}}</option>
											<option value="1">{{ translations['flagged']}}</option>
											<option value="0">Non {{ translations['flagged']}}</option>
										</select>
									</div>
                                    <div class="form-group col-md-2">
										<input type="submit"  id="" name='filters'   class="btn btn-primary  input-flat col-sm-10" value="{{ translations['Filter']}}"></input>
										<button type="submit" name="clear" value="true" class="btn input-flat col-sm-2 text text-dark">
											<i class="fa fa-repeat"></i>
										</button>
                                    </div>
                                    <div class="form-group col-md-2">
                                        <a href="{{url_for('download_csv')}}" target="_blank" class="btn btn-primary fa fa-save input-flat col-sm-12"> {{translations['Export As Excel']}}</a>
                                    </div>
                                </form>
                            </div>
                            <div class="card p-t-5">
                                <div class="" style="float:right">
                                    <ul class="pagination" style="float:right">
                                        <li><a class="btn btn-sm btn-primary" href="{{ url_for('listdata',chkTest=session['chk_test'], page_no=1) }}">{{translations['First']}}</a></li>
                                        <li><a class="btn btn-sm btn-primary" href="{{ url_for('listdata',chkTest=session['chk_test'], page_no=page_no-1) }}">{{translations['Previous']}}</a></li>
                                        <li><a class="btn btn-sm btn-primary" href="{{ url_for('listdata',chkTest=session['chk_test'], page_no=page_no+1) }}">{{translations['Next']}}</a></li>
                                        <li><a class="btn btn-sm btn-primary" href="{{ url_for('listdata',chkTest=session['chk_test'], page_no=total_no_of_pages) }}">{{translations['Last']}}</a></li>
                                    </ul>
                                
                                    <div style="padding: 10px 20px 0px;float:right;">
                                        <strong>Page {{ page_no }} {{translations['of']}} {{ total_no_of_pages }} ({{ total_records }} Cotes)</strong>
                                    </div>
                                </div>
                                <div class="table-responsive">
                                    {{ html_content | safe }}
                                </div>
                            </div>
                        </div>                       
                    </div>                  
                                        
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="footer">
                                <p>© Aurexus. - <a href="#">aurexus.com</a></p>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>

    <!-- jquery vendor -->
    <script src="{{url_for('static',filename='assets/js/lib/jquery.min.js')}}"></script>
    <script src="{{url_for('static',filename='assets/js/lib/jquery.nanoscroller.min.js')}}"></script>
    <!-- nano scroller -->
    <script src="{{url_for('static',filename='assets/js/lib/menubar/sidebar.js')}}"></script>
    <script src="{{url_for('static',filename='assets/js/lib/preloader/pace.min.js')}}"></script>
    <!-- sidebar -->

    <script src="{{url_for('static',filename='assets/js/lib/bootstrap.min.js')}}"></script>
    <script src="{{url_for('static',filename='assets/js/scripts.js')}}"></script>
    <!-- bootstrap -->

    <script src="{{url_for('static',filename='assets/js/lib/calendar-2/moment.latest.min.js')}}"></script>
    <script src="{{url_for('static',filename='assets/js/lib/calendar-2/pignose.calendar.min.js')}}"></script>
    <script src="{{url_for('static',filename='assets/js/lib/calendar-2/pignose.init.js')}}"></script>


    <script src="{{url_for('static',filename='assets/js/lib/weather/jquery.simpleWeather.min.js')}}"></script>
    <script src="{{url_for('static',filename='assets/js/lib/weather/weather-init.js')}}"></script>
    <script src="{{url_for('static',filename='assets/js/lib/circle-progress/circle-progress.min.js')}}"></script>
    <script src="{{url_for('static',filename='assets/js/lib/circle-progress/circle-progress-init.js')}}"></script>
    <script src="{{url_for('static',filename='assets/js/lib/chartist/chartist.min.js')}}"></script>
    <script src="{{url_for('static',filename='assets/js/lib/sparklinechart/jquery.sparkline.min.js')}}"></script>
    <script src="{{url_for('static',filename='assets/js/lib/sparklinechart/sparkline.init.js')}}"></script>
    <script src="{{url_for('static',filename='assets/js/lib/owl-carousel/owl.carousel.min.js')}}"></script>
    <script src="{{url_for('static',filename='assets/js/lib/owl-carousel/owl.carousel-init.js')}}"></script>
    <!-- scripit init-->
    <script src="{{url_for('static',filename='assets/js/dashboard2.js')}}"></script>
	
	<!-- Get suggestions -->
    <script>
        function getSuggestions(button) {
            const row = button.closest('tr');
            const userInput = row.querySelector('.userInput').value;

            fetch('/get_suggestions', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({
                    user_input: userInput
                })
            })
			
            .then(response => response.json())
            .then(data => {
                const suggestionsDiv = row.querySelector('.suggestions');
                suggestionsDiv.innerHTML = `Filtered Suggestions: ${data.suggestions.join(', ')}`;
            })
			
            .catch(error => console.error('Error:', error));
        }
		
		$(document).ready(function() {
			$(".star-checkbox").change(function() {
				var recordId = $(this).data("id");
				var isChecked = $(this).is(":checked");
				// Inject Flask session values (escaped as strings)
						
				
				$.ajax({
					url: '/save_bookmark', // Change to your PHP script URL
					method: 'POST',
					contentType: 'application/json',
					data:JSON.stringify({ 						
						book_id: recordId,
						checked: isChecked ? 1 : 0
						
					}),
					success: function(response) {
						console.log("Saved star status:", response);
					},
					error: function() {
						alert("Failed to save star status.");
					}
				});
			})
		})
    </script>
</body>

</html>
